# Environment variables
.env

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Virtual Environments
venv/
venv39/

# Streamlit secrets
.streamlit/

# Build folders
dist/

# ML model/cache files
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.npy