streamlit==1.45.1

# utilities
numpy
pandas
pillow
scikit-learn
setuptools<70.0.0

# face recognition (IMPORTANT ORDER)
cmake
dlib
face_recognition

git+https://github.com/ageitgey/face_recognition_models

# database/auth
supabase==2.3.4
bcrypt

# qr
segno

# voice
librosa
resemblyzer